body {
    margin: 150px 70px 0;
    padding: 0;
    background-color: #464f54;
}

* {
    box-sizing: border-box;
}

main {
    background-color: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .6);
}

.container {
    max-width: 1100px;
    padding: 0 20px;
}

.input-text-tool {
    position: absolute;
    min-width: 875px;
    min-height: 185px;
    background-color: #181818;
    right: 0;
    top: 45px;
    z-index: 1000;
    padding: 45px 0 50px 60px;
}

.input-title {
    font-size: 16px;
    letter-spacing: .32em;
    text-transform: uppercase;
    color: #767676;
}

.input-text {
    width: 100%;
    padding: 10px 0 20px;
    background-color: #181818;
    border: none;
    outline: none;
    color: #fff;
    border-bottom: 1px solid gray;
    transition: all .1s linear;
    font-size: 46px;
}

.input-tools {
    position: absolute;
    right: 0;
    top: 198px;
    z-index: 999;
    background-color: #fabf2d;
    min-width: 800px;
    padding: 25px 10px 25px 40px;
}

.input-tools-icon {
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    opacity: .4;
    transition: all .2s linear;
    margin-right: 30px;
}

.input-tools-icon:hover {
    opacity: 1;
}

.page-content {
    min-height: 500px;
    margin-left: 70px;
    padding-left: 55px;
    padding-right: 135px;
    padding-top: 200px;
    border-left: 1px solid gray;
}

.page-author {
    font-size: 20px;
    letter-spacing: .2em;
    color: #b4b4b4;
    margin-bottom: 45px;
}

.page-title {
    font-size: 78px;
    letter-spacing: .05em;
    line-height: 55px;
    font-weight: 400;
    margin: 0 0 25px 0;
}

.page-subtitle {
    font-size: 30px;
    font-style: italic;
    line-height: 35px;
    color: #8f8f8f;
    margin-bottom: 55px;
}

.page-text p{
    font-size: 27px;
    line-height: 40px;
    margin: 0;
    padding: 0;
}

.page-text > p span {
    font-style: italic;
}